:root {
  --section-padding: 90px 10%; 
  --section-background-color: #ffffff;
  --section-gap: 32px; 
}

.copy-section {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
  justify-content: space-between; 
  padding: var(--section-padding); 
  height: auto; 
  background: var(--section-background-color); 
  gap: var(--section-gap); 
}

.copy-section-content {
  text-align: left;
  padding-right: var(--section-gap); 
}

.copy-section-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-section-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px; 
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.copy-section h2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 700;
  color: #B87333;
  margin-bottom: 30px; 
}

.copy-section p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #1F3347;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* Media Queries */
@media (max-width: 768px) {
  .copy-section {
    grid-template-columns: 1fr; 
    padding: 60px 5% 80px 5%; 
  }

  .copy-section-content,
  .copy-section-image {
    padding: 0; 
    text-align: center; 
  }

  .copy-section h2 {
    font-size: 32px; 
  }

  .copy-section p {
    font-size: 18px; 
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .copy-section {
    padding: 60px 10% 80px 10%;
  }
  .copy-section h2 {
    font-size: 28px; 
  }

  .copy-section p {
    font-size: 18px; 
    line-height: 24px; 
    margin-bottom: 8px; 
  }
}
