
.event-card {
    background-color: #FAF7F1; 
    padding: 8px 0 8px 0;
}
  
  .event-card {
    display: flex;
  }
  
  .event-card .event-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .event-card .event-title {
    font-family: "Playfair Display", serif;
    color: #B87333;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .event-card .event-host {
    font-family: "Montserrat", sans-serif;
    color: #1F3347;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .event-card .event-description {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #1F3347;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }
  
  .event-card .event-day {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #B87333; 
    margin-bottom: 5px;
  }
  
  .event-card .event-date {
    font-family: "Montserrat", sans-serif;
    font-size: 32px; 
    font-weight: bold;
    color: #B87333;
    margin-bottom: 5px;
  }
  
  .event-card .event-month-year {
    font-family: "Montserrat", sans-serif;
    font-size: 14px; 
    font-weight: 400;
    color: #B87333; 
  }